@import "../../assets/scss/media-q";

//settings
$frame-width: 375px;
$frame-height: 667px;
$frame-padding: 16px;

//styles
.frame {
	width: 100%;
	padding: $frame-padding;

	overflow: hidden;
	box-sizing: border-box;

	@media (min-width: $mobile-width) {
		width: $frame-width;
		height: $frame-height;

		box-shadow:
						0 16px 24px 2px rgba(0,0,0,0.14),
						0 6px 30px 5px rgba(0,0,0,0.12),
						0 8px 10px -7px rgba(0,0,0,0.2);
	}
}