//rotation keyframes
@keyframes preloader {
	0% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(450deg);
	}
}

.preloader {
	display: inline-flex;

	transform: rotate(95deg);

	animation: preloader 1s cubic-bezier(0.04, 1.01, 1, 1) infinite;
}
